<h2 class="h2">why to choose us?</h2>
<h2 class="h2">Because we provide:</h2>
<img src="../../assets/undraw_welcome_3gvl.svg" class="welcome" alt="">
<h3 class="welcomes" >   "We welcome all and invite them <br>
         becouse we never compramise on knowledge <br>
         greetings and all" 
</h3>

<div class="pos">
    <img src="../../assets/undraw_online_ad_mg4t.svg" alt="" class="size pos1">
    <img src="../../assets/undraw_hire_te5y.svg" alt="" class="size pos2">
    <img src="../../assets/undraw_personal_text_vkd8.svg" alt="" class="size pos3">
    <img src="../../assets/undraw_studying_s3l7.svg" alt="" class="size pos4">
</div>

    <h1 class="pos5 animate">Adds  Free!! <br>
        for your smooth study
    </h1>
    <h1 class="pos6 animate">Get Interacted <br>
        and competete  <br>
        So to level up
    </h1>
    <h1 class="pos7 animate">Get a different wat out <br>
        and quick fix
    </h1>
    <h1 class="pos8 animate">Write notes dynamically <br>
        while test/exam
    </h1>

    
<!-- <img src="../../assets/undraw_book_lover_mkck.svg" alt=""> -->
