<!-- <app-root></app-root> -->
<div class="login-container d-flex justify-content-center align-items-center justify-content-center align-items-center">
    <form class="login-form text-center" [formGroup]="login">
        <!-- {{userloginModel.value | json}} -->
        <h1 class="mb-5 font-weight-light text-uppercase">login</h1>
        <div class="form-check">
            <input type="text" class="form-control rounded-pill form-control-lg" placeholder="email" name="username" formControlName="email" [class.is-invalid]="login.get('email').invalid && login.get('email').touched">
            <!-- <small [class.d-none]="login.get('email').valid || login.get('email').untouched" class="text-danger">Please enter your email</small> -->
            <div *ngIf="email.invalid && login.get('email').touched">
                  <small *ngIf="login.get('email').errors?.required" class="text-danger">Email must be filled</small>
                  <small *ngIf="login.get('email').errors?.minlength" class="text-danger">Email should be greater than 5 words</small>
                  <small *ngIf="login.get('email').errors?.forbiddenName" class="text-danger">admin name is not allowed</small>
                  <small *ngIf="login.get('email').errors?.email" class="text-danger">Enter in email format</small>
            </div>
        </div>
        <div class="form-check">
            <input type="password" class="form-control rounded-pill form-control-lg" placeholder="Password" name="password" formControlName="password" [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password is required</small>
        </div>
        <div class="forgot-link">
            <div class="form-check">
                <input type="checkbox" id="remember" class="form-check-input" name="checkbox" formControlName="checkbox">
                <!-- [(ngModel)]="userloginModel.checkbox" -->
                 <label for="remember">Remember Password</label>                  
            </div>
            <a>Forget Password</a>
        </div>
        <button type="submit" class="mt-5 btn btn-custom btn-block text-uppercase rounded-pill btn-lg" [routerLink]="['/dashboard']" >login</button>
        <p class="mt-3 font-weight-normal">Don't have account <a [routerLink]="['/register-form']" ><strong>Register Now</strong></a></p>
        <button type="submit" class="mt-5 btn btn-custom btn-block text-uppercase rounded-pill btn-lg" (click)="load()">reload</button>

    </form>
</div>

