.pimg{
    float: left;
    margin-top: -10em;
    margin-left: 50rem;
}

h4.sugges:visited{
    color: white;
}
h4.sugges:hover{
    color: black;
}

.img-intro{
    border-radius: 2%;
    height: auto;
    width: fit-content;
}

.space2{
    margin-left: 2%;
    margin-right: 2%;
  }