<!-- <div *ngIf="!showhome"> -->
    <img src="../assets/undraw_book_lover_mkck.svg" class="img-fluid img-intro" alt="save images in assets">
    <h1 class="pimg font-weight-bold">"Place where you can learn and develop"</h1>
    
    <h2>Are you new then what are you waiting for sign in today</h2>
    <button routerLink="/register-form" routerLinkActive="test" class="btn btn-warning btn-long space2">Register Now</button>
    <h3>why to choose us check it</h3>
    <button routerLink="/chooseus" routerLinkActive="test" class="btn btn-warning btn-long space2">See it</button>
    
    <h1>just for response</h1>
    <button  class="btn btn-primary pass" (click)="show()" >responsive</button>
    <!-- </div> -->
    <app-reponsive-tag *ngIf="showhome" ></app-reponsive-tag>
    <!-- <img src="../assets/" alt=""> -->
    <!-- <h1 class="font-italic">Choose what you want to do</h1>
    
    <h4 class="font-bold sugges">let have a test first than exam:suggestion</h4> -->
    <!-- 
    <button routerLink="/test" routerLinkActive="test" class="btn btn-info btn-long space2">Test</button>
    <button routerLink="/exam" routerLinkActive="test" class="btn btn-info btn-long space2" >Exam</button> -->
    
    
